.chatbot a {
    position: fixed;
    border-radius: 15px;
    height: 50px;
    width: 30%;
    font-size: 20px;
    background-color: rgb(50, 90, 180);
    border: 2px solid black;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    z-index: 9999; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-decoration: none; 
}