.chatbot button{
    position: fixed;               /* 화면 기준 고정 */
    border-radius: 15px;
    height: 50px;
    width: 30%;
    font-size: 25px;
    background-color: orange;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
}
