
.tit {
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: 2000;
}

.txt {
    color: white;
    font-size: 40px;
    line-height: 2.3; 
    opacity: 0.3; 
    font-weight: 1000;
    text-align: center;
}
.engtxt{
    color: white;
    line-height: 2.3; 
    opacity: 0.3; 
    text-align: center;
}
