
.tit {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 2000;
}

.txt {
    color: black;
    font-size: 20px;
    line-height: 2.3; 
    opacity: 0.3; 
    font-weight: 1000;
    text-align: center;
    margin-top: 60px;
}
.engtxt{
    color: black;
    line-height: 2.3; 
    opacity: 0.3; 
    text-align: center;
}
