  .auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: black;
  color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;

  input {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 8px;
  }

  button {
    padding: 15px;
    border: 1px solid white;;
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #333;
    }
  }
}

.auth-message {
  margin-top: 10px;
  color: red;
}

.auth-switch {
  margin-top: 15px;
  font-size: 14px;

  span {
    margin-left: 10px;
    font-weight: bold;
    color: rgba(100, 149, 237);
    cursor: pointer;
  }
}

.back-button {
  margin-top: 20px;
  background: none;
  border: 1px solid #999;
  color: #555;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #eee;
    color: #000;
  }
}
