.chatbot {
  a {
    position: static;
    border-radius: 30px;
    font-size: 15px;
    background-color: white;
    border: 0.1px solid black;
    color: black;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
