.chatbot {
  a {
    position: static;
    border-radius: 15px;
    height: 50px;
    width: 30%;
    font-size: 20px;
    background-color: rgb(50, 90, 180);
    border: 2px solid black;
    color: white;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
