header {
  background-color: #000000;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  z-index: 2000;
  transition: box-shadow 0.3s ease;

  &.scrolled {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  }
}

.header-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0px;
  text-decoration: none;

  .logo-img {
    height: 90px;
    width: 180px;
  }

}

.nav-links {
  display: flex;
  gap: 25px;

  .nav-link {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 370;
    padding: 5px;
    transition: color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      color: rgba(220, 290, 220, 1);
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;

  .login-btn {
    background-color: white;
    color: black;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 370;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;

    &:hover {
      border-color: black;
    }
  }

  .signup-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 370;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #333;
    }
  }
}
